.message {
	display: flex;

	&-avatar-wrap {
		margin-right: 10px;
	}

	&-user-avatar {
		width: 60px;
		height: 60px;
	}

	&-wrap {
		background-color: #bdc3c7;
		padding: 10px;
	}

	&-user-name {
		display: block;
		font-weight: bold;
	}

	&-text {
		display: block;
		margin-top: 5px;
	}

	&-bottom-block {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		& svg {
			cursor: pointer;
			color: #7f8c8d;
			margin-left: 5px;
		}
	}

	&-time {
		font-size: 14px;
		color: #7f8c8d;
	}
}
